body {
  background: #7094c2;
  color: #0b3751;
  font-family: 'Cuprum', sans-serif; }

.app {
  margin: 2%; }

div.navbar {
  background-color: #f2f2f2;
  width: 100%;
  display: inline-block;
  padding: 0px;
  margin-bottom: 5px 0 5px 0;
  top: 0px;
  left: 0px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }

ul.nav {
  list-style-type: none;
  width: 100%;
  padding: 0px;
  margin: 0; }

ul.nav li.left {
  float: left;
  border-right: 2px solid #0b3751; }

ul.nav li.right {
  float: right;
  border-left: 2px solid #0b3751; }

ul.nav li a {
  padding: 15px;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #0b3751;
  display: inline-block;
  text-decoration: none; }

ul.nav li p {
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #0b3751;
  display: inline-block;
  text-decoration: none;
  margin: 0px; }

ul.nav li a:hover {
  background-color: #0b3751;
  color: #f2f2f2; }

p.menu:hover {
  background-color: #0b3751;
  color: #f2f2f2;
  cursor: pointer; }

.menu-list {
  list-style-type: none;
  width: 100%;
  padding: 0px;
  margin: 0px; }

.menu-list-item {
  margin: 0px;
  padding: 0px;
  color: #0b3751;
  text-decoration: none;
  cursor: pointer; }

.menu-list-item li {
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  margin: 0px;
  padding: 8px 16px 8px 16px; }

.menu-list-item li:hover {
  background-color: #0b3751;
  color: #f2f2f2; }

div.header h2 {
  text-align: center;
  font-size: 2em;
  margin: 0px 0px 5px 0px;
  z-index: 2; }

.self-title {
  text-align: center;
  font-size: 1.25em;
  margin: 0px 0px 0px 0px; }

hr.my-hr {
  border: 0;
  margin: 15px 0 15px 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(38, 60, 89, 0), #263c59, rgba(38, 60, 89, 0)); }

div.about-text {
  text-align: justify;
  font-size: 1.25em;
  height: 100%;
  line-height: 300px;
  grid-area: skills; }

div.about-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.25em;
  background-color: #8f3d4b;
  color: #e9f0db;
  padding: 0 1.25em;
  box-shadow: 0 0px 4px rgba(46, 72, 107, 0.75), 0 2px 5px rgba(46, 72, 107, 0.28), 0 4px 10px rgba(46, 72, 107, 0.48); }

div.about-img {
  margin: auto;
  grid-area: avatar; }

#avatar {
  display: block;
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  box-shadow: 0 0px 4px rgba(46, 72, 107, 0.75), 0 2px 5px rgba(46, 72, 107, 0.28), 0 4px 10px rgba(46, 72, 107, 0.48);
  margin: 15px auto; }

.section {
  background-color: #f2f2f2;
  margin: 15px 0px 15px 0px;
  padding: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }

.project-item {
  background-color: #8f3d4b;
  box-shadow: 0 0px 4px rgba(46, 72, 107, 0.75), 0 2px 5px rgba(46, 72, 107, 0.28), 0 4px 10px rgba(46, 72, 107, 0.48); }

.project-content {
  margin-bottom: 15px;
  color: #e9f0db;
  padding: 10px; }

.project-content p {
  margin-bottom: 0px; }

.project-img {
  width: 100%; }

ul.history-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

li.history-item {
  background-color: #8f3d4b;
  color: #e9f0db;
  padding: 10px;
  margin: 10px 0px;
  box-shadow: 0 0px 4px rgba(46, 72, 107, 0.75), 0 2px 5px rgba(46, 72, 107, 0.28), 0 4px 10px rgba(46, 72, 107, 0.48); }

li.history-item h3 {
  margin: 0px 0px 5px 0px; }

li.history-item h4 {
  margin: 5px 0px; }

li.history-item p {
  margin: 10px 0px 0px 0px; }

.menu-modal-content {
  padding: 8px 0px;
  margin: 0px;
  background-color: #f2f2f2; }

.menu-modal-overlay {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.mail-modal-content {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 33%;
  text-align: center; }

.mail-modal-content h2 {
  margin-top: 0px; }

.mail-modal-content h3 {
  margin-bottom: 0px; }

.mail-modal-overlay {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.project-grid {
  justify-content: center; }

@supports (display: grid) {
  @media screen and (min-width: 768px) {
    .about-grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 5px;
      justify-content: center;
      padding: 5px;
      grid-template-areas: "avatar skills skills"; }
    .project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 15px; }
    .project-content {
      margin-bottom: 0px; } }
  @media screen and (min-width: 1024px) {
    .about-grid {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-gap: 30px;
      justify-content: center;
      padding: 5px;
      grid-template-areas: "avatar skills skills skills"; }
    .project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 30px; } } }
