
$textcolor: hsl(39, 94%, 92%);
$textlight: hsl(39, 94%, 92%);
$textdark: hsl(215, 40%, 25%);

$bgcolor: hsl(256, 40%, 25%);
// $midcolor: hsl(215, 40%, 25%);
$midcolor: hsl(39, 15%, 92%);
$lightcolor: hsl(352, 30%, 50%);
$hovercolor: hsl(215, 40%, 50%);

$fade1: hsl(256, 15%, 95%);
$fade2: hsl(215, 15%, 95%);
$fade3: hsl(352, 15%, 95%);

$fade: linear-gradient(180deg, $fade1, $fade2, $fade3) no-repeat center center fixed;

body{
  background: $fade;
  color: $textdark;
  font-family: 'Cuprum', sans-serif;
}

.app{
  margin: 2%;
}

div.navbar{
  background-color: $midcolor;
  width: 100%;
  display: inline-block;
  padding: 0px;
  margin-bottom: 5px 0 5px 0;
  top: 0px;
  left: 0px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

ul.nav{
  list-style-type: none;
  width: 100%;
  padding: 0px;
  margin: 0;
}

ul.nav li.left{
  float:left;
  border-right: 2px solid $textdark;
}

ul.nav li.right{
  float:right;
  border-left: 2px solid $textdark;
}


ul.nav li a{
  padding: 15px;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: $textdark;
  display: inline-block;
  text-decoration: none;
}

ul.nav li p{
  padding: 15px;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: $textdark;
  display: inline-block;
  text-decoration: none;
  margin: 0px;
}

ul.nav li a:hover{
  background-color: $hovercolor;
}


div.header h2{
  text-align: center;
  font-size: 2em;
  margin: 0px 0px 5px 0px;
  z-index: 2;
}

.self-title {
  text-align: center;
  font-size: 1.25em;
  margin: 0px 0px 0px 0px;
}

hr.my-hr{
  border: 0;
  margin: 15px 0 15px 0;
  height: 5px;
  background-image: linear-gradient(to right, hsla(215, 40%, 25%, 0), hsla(215, 40%, 25%, 50%), hsla(215, 40%, 25%, 0));
}

div.about-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
  justify-content: center;
  padding: 5px;
}

div.about-text {
  text-align: justify;
  font-size: 1.25em;
  padding: 0 20px 0 20px;
  height: 100%;
  line-height: 300px;

}

div.about-text span{
  display: inline-block;
  vertical-align: middle;
  line-height: 1.25em;
  background-color: $lightcolor;
  color: $textlight;
  padding: 0 1.25em;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

div.about-img{
  justify-content: center;
  margin: auto;
}

#avatar{
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.section{
  background-color: $midcolor;
  margin: 15px 0px 15px 0px;
  padding: 15px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  justify-content: center;
}

.grid-item{
  background-color: $lightcolor;
  // border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.grid-content{
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
  color: $textlight;
}

.grid-img{
  width: 100%;
}


ul.history-list {
  list-style-type: none;
  // width: 100%;
  padding: 0px;
  margin: 0px;
}

li.history-item {
  background-color: $lightcolor;
  color: $textlight;
  padding: 5px;
  margin: 10px 0px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

li.history-item h3{
  margin: 5px 0px;
}

li.history-item h4{
  margin: 5px 0px;
}

li.history-item p{
  margin: 5px 0px;
}
