
body{
  background-color: #242D4E;
  color: #FEF2DA;
  font-family: sans-serif;
}

.app{
  margin: 2%;
}

div.navbar{
  background-color: #4A5283;
  width: 100%;
  display: inline-block;
  padding: 0px;
  margin-bottom: 5px 0 5px 0;
  border-radius: 5px;
}

ul.nav{
  list-style-type: none;
  width: 100%;
  padding: 0px;
  margin: 0;
}

ul.nav li{
  float:left;
  border-right: 2px solid #242D4E;
}


ul.nav li a{
  padding: 15px;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #FEF2DA;
  display: inline-block;
  text-decoration: none;
}

ul.nav li p{
  padding: 15px;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #FEF2DA;
  display: inline-block;
  text-decoration: none;
  margin: 0px;
}

ul.nav li a:hover{
  background-color: #283061;
}


#about-container{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(http://localhost:3000/images/jumbo.jpg);
}

div.header h2{
  text-align: center;
  font-size: 2em;
  margin: 0px 0px 15px 0px;
  z-index: 2;
}

.self-title {
  text-align: center;
  font-size: 1.25em;
  margin: 0px 0px 0px 0px;
}

hr.my-hr{
  border: 0;
  margin: 15px 0 15px 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

div.about-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr ));
  grid-gap: 15px;
  justify-content: center;
}

div.about-text {
  text-align: justify;
  font-size: 1.25em;
  padding: 0 20px 0 20px;
  height: 100%;
  line-height: 300px;
}

div.about-text span{
  display: inline-block;
  vertical-align: middle;
  line-height: 1.25em;
  background-color: rgba(137, 94, 140, 0.75);
  padding: 0 1.25em;
  border-radius: 5px
}

div.about-img{
  justify-content: center;
  margin: auto;
}

#avatar{
  border: 5px solid #895E8C;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

.section{
  background-color: #4A5283;
  margin: 15px 0px 15px 0px;
  padding: 15px;
  border-radius: 5px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  justify-content: center;
}

.grid-item{
  background-color: #895E8C;
  border-radius: 5px;
}

.grid-content{
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
}

.grid-img{
  width: 100%;
  /* max-width: 384px; */
  /* max-height: 288px; */
}

div.contact-block{
  text-align: center;
}

div.contact-block a{
  font-size: 3em;
  color: #FEF2DA;
  border: 2px solid #FEF2DA;
  border-radius: 5px;
  padding: 5px 25px;
  margin: 5px
}
